<div class="seperator"><img src="./../../../assets/icons/separatorBlack 1.png"></div>
<div class="section6">
    <div class="recommandings">
        <div class="recommandings-title">
            <p>R E C O M M A N D I N G S</p>
            <span>What my colleagues say about me:</span>
        </div>
        <div class="recommandings-container">
            <div class="recommandings-box">
                <img src="./../../.././assets/icons/quotes.png">
                <div class="recommandings-description">
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aperiam doloribus
                        fugit, dolorem consectetur, molestias impedit dicta repr
                        consequuntur blanditiis optio accusamus quis quidem ea autem sapiente!</span><br>
                    <span>Tarik Sabanovic</span>
                </div>
            </div>
            <div class="recommandings-box">
                <img src="./../../.././assets/icons/quotes.png">
                <div class="recommandings-description">
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aperiam doloribus
                        fugit, dolorem consectetur, molestias impedit dicta reprehenderit adipisci provident vel
                        consequuntur blanditiis optio accusamus quis quidem ea autem sapiente!</span><br>
                    <span>Tarik Sabanovic</span>
                </div>
            </div>
            <div class="recommandings-box">
                <img src="./../../.././assets/icons/quotes.png">
                <div class="recommandings-description">
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aperiam doloribus
                        consequuntur blanditiis optio accusamus quis quidem ea autem sapiente!</span><br>
                    <span>Tarik Sabanovic</span>
                </div>
            </div>
        </div>
        <div class="seperator"><img src="./../../../assets/icons/separatorBlack 1.png"></div>