<div class="seperator">
    <img src="./../../../assets/icons/separatorBlack 1.png">
  </div>
  
  <div class="section6">
    <div class="recommandings">
      <div class="recommandings-title">
        <p>{{ 'RECOMMANDINGS.TITLE' | translate }}</p>
        <span>{{ 'RECOMMANDINGS.SUBTITLE' | translate }}</span>
      </div>
  
      <div class="recommandings-container">
        <div
          class="recommandings-box"
          *ngFor="let rec of recommendations; let i = index"
          (click)="toggleActive($event)"
        >
          <img src="./../../../assets/icons/quotes.png">
          <div class="recommandings-description">
            <span>{{ rec.textKey | translate }}</span>
            <span><b>{{ rec.author }}</b></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="seperator">
    <img src="./../../../assets/icons/separatorBlack 1.png">
  </div>
  