.section5 {
    display: flex;
    justify-content: center;
    width: 100%;

    .portfolio {
        width: 100%;
        max-width: 1440px;
        background-color: rgb(26, 26, 26);
    }

    .portfolio-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        background-image: url(./../../../public/assets/img/digitization-5140071_1280.jpg);
        opacity: 90%;
        background-size: cover;
        background-position: center;
        padding: 80px 0;
        color: white;

        >p {
            font-size: 40px;
            font-family: "Montserrat";
        }
    }

    .portfolio-projects {
        display: flex;
        align-items: flex-end;
        gap: 40px;
        color: white;
        height: 80px;
        margin-left: 40px;
    
        > p {
            font-size: 24px;
            cursor: pointer;
            font-family: "Montserrat";
            transition: background-color 0.3s ease-in;
    
            &:hover {
                background-color: rgb(10, 10, 10);
                padding: 20px;
            }
        }
    
        > p.active {
            background-color: rgb(10, 10, 10);
            color: white;
            font-weight: bold;
            padding: 20px;
        }
    }
    

    .portfolio-projects-wrapper {
        justify-content: center;
        align-items: center;
        width: 100%;


        .portfolio-projects-inline {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 40px;
            background-color: rgb(10, 10, 10);
        }

        .portfolio-description,.portfolio-image-section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            padding: 10px 40px;
            color: white;
  
        }
            .portfolio-image {
                >img {
                    width: 500px;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }

            .portfolio-projects-links {
                padding: 20px;
            }
    }

    a { 
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 5px;
        border-radius: 10px;
        &:hover {
            background-color: white;
            color: black;

        }
    }

    .technologies {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 8px;
        color: white;
        font-family: "Montserrat";
        padding: 20px;

        .technologies-icons {
            >img {
                width: 48px;
                height: 48px;
            }
        }
    }

    .more {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        color: white;
        width: 100%;
    }

}