<div id="portfolio" class="section5">
    <div class="portfolio">
        <div class="portfolio-banner">
            <p>P O R T F O L I O</p>
            <span>eatsome.</span>
        </div>
        <div class="portfolio-projects">
            <div class="project1">
                <img src="./../../../assets/img/JoinLAP.png">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis vero culpa aliquid ipsum esse,
                    veritatis corrupti aspernatur fugiat, eos voluptates cumque voluptas, labore beatae voluptatem
                    nostrum harum nulla praesentium cupiditate!</span>
                    <div class="project-links">
                    <a href="#"> DEMO</a>|<a href="#">GitHub</a>
                </div>
            </div>
  
        <div class="project2">
            <img src="./../../../assets/img/ElpolloLAP.png">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis vero culpa aliquid ipsum esse,
                veritatis corrupti aspernatur fugiat, eos voluptates cumque voluptas, labore beatae voluptatem
                nostrum harum nulla praesentium cupiditate!</span>
                <div class="project-links">
                    <a href="#"> DEMO</a>|<a href="#">GitHub</a>
                </div>
        </div>
        <div class="project3">
            <img src="./../../../assets/img/HogwartsApiLAP.png">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis vero culpa aliquid ipsum esse,
                veritatis corrupti aspernatur fugiat, eos voluptates cumque voluptas, labore beatae voluptatem
                nostrum harum nulla praesentium cupiditate!</span>
                <div class="project-links">
                    <a href="#"> DEMO</a>|<a href="#">GitHub</a>
                </div>
        </div>
    </div>
    <div class="more">
        <p>And many more to come!</p>
    </div>
</div>

