@import "./../../styles.scss";

.section5 {
    display: flex;
    justify-content: center;
    width: 100%;

    .portfolio {
        width: 100%;
        max-width: 1440px;
        background-color: rgb(26, 26, 26);
    }

    .portfolio-banner {
        @include flex-center;
        flex-direction: column;
        width: 100%;
        background-image: url(./../../../public/assets/img/digitization-5140071_1280.jpg);
        opacity: 90%;
        background-size: cover;
        background-position: center;
        padding: 80px 0;
        color: white;

        >p {
            font-size: 40px;
            font-family: "Montserrat";
        }
    }

    .portfolio-projects {
        display: flex;
        align-items: flex-end;
        gap: 40px;
        color: white;
        height: 80px;
        margin-left: 40px;

        >p {
            font-size: 24px;
            cursor: pointer;
            font-family: "Montserrat";
            transition: background-color 0.3s ease-in;

            &:hover {
                background-color: rgb(215, 215, 215);
                border-radius: 5px 5px 0 0;
                color: black;
                padding: 20px;
            }
        }

        >p.active {
            background-color: rgb(215, 215, 215);
            font-weight: bold;
            color: black;
            padding: 20px;
            border-radius: 5px 5px 0 0;
        }
    }


    .portfolio-projects-wrapper {
        justify-content: center;
        align-items: center;
        width: 100%;


        .portfolio-projects-inline {
            @include flex-center;
            margin: 0 40px;
            background-color: rgb(215, 215, 215);
        }

        .portfolio-image-section {
            @include flex-center;
            flex-direction: column;
            padding: 0 40px;
            font-family: "OpenSans";
            font-weight: 500;
            gap:16px;
        }

        .portfolio-description {
            @include flex-center;
            flex-direction: column;
            padding: 0 40px;
            padding-bottom: 40px;
            font-family: "OpenSans";
            font-weight: 500;
            gap:16px;
        }

        .portfolio-image {
            >img {
                width: 600px;
                height: 400px;
                object-fit: cover;
                border-radius: 5px;
                border: solid 3px black;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
            }
        }

        .portfolio-projects-links {
            padding: 20px;
        }
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding: 5px;
        border-radius: 10px;
        transition: background-color 0.2s ease-in;

        &:hover {
            background-color: rgb(26, 26, 26);
            color: white;
        }
    }

    .technologies {
        @include flex-center;
        flex-direction: column;
        text-align: center;
        gap: 8px;
        font-family: "Montserrat";
        padding: 20px 0;
        font-weight: bold;

        .technologies-icons {
            >img {
                width: 48px;
                height: 48px;
            }
        }
    }

    .more {
        @include flex-center;
        padding: 10px 0;
        color: white;
        width: 100%;
    }

}

@media (max-width:1099px) {

    .portfolio-projects-inline {
        flex-direction: column-reverse;
    }
}

@media (max-width:849px) {

    .portfolio-banner {
        >p {
            font-size: 48px !important;
        }
        >span {
            font-size: 24px !important;
        }

    }

    .portfolio-image {
        >img {
            width: 100% !important;
            height: 200px !important;
        }
    }

    .portfolio-description{
        >p {
            font-size: 14px;
        }
    }

    .portfolio-projects{
        justify-content: center;
        >p {
            font-size: 20px !important;
        }
    }
}

@media (max-width:549px) {

    .portfolio-projects-inline {
        margin: unset !important;
    }

    .portfolio-projects{
        margin-left: unset !important;
    }
}

@media (max-width:414px) {

    .portfolio-projects{
        text-align: center;
        gap: 20px !important;
        >p {
            font-size: 16px !important;
        }
    }
}

