<div id="aboutMe" class="section3">
    <div class="aboutMe">
        <div class="aboutMe-info">
            <p>A B O U T&nbsp; M E </p>
            <span>I am a passionate Frontend Developer from near Rosenheim, and I love creating innovative and creative
                solutions. Ever since I discovered coding, every project has been a new adventure that challenges and
                inspires me.<br>
                My focus is on designing modern, user-friendly, and visually appealing web applications. I enjoy working
                with the latest technologies and trends to create unique digital experiences. Clean code, performance,
                and a well-thought-out user experience are essential aspects of my work.<br>
                Whether it’s creative animations, interactive interfaces, or custom solutions – I am always excited
                about turning ideas into functional and aesthetic applications.</span>
        </div>
        <div class="seperator"><img src="./../../../assets/icons/separatorBlack 1.png"></div>
        <div class="abilities">
            <div class="wrapper1">
                <div class="projects">
                    <img src="./../../../assets/icons/136378-200 1.png">
                    <p>PROJECTS</p>
                    <br>
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore ut nulla dolor facere
                        quod, pariatur eius ex commodi, molestias itaque velit aliquid, tempora minima deserunt. Magni,
                        laboriosam reprehenderit? Aut, mollitia!</span>
                </div>
                <div class="line"></div>
            </div>
            <div class="wrapper2">
                <div class="line"></div>
                <div class="development">
                    <img src="./../../../assets/icons/dev.png">
                    <p>DEVELOPMENT</p>
                    <br>
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore ut nulla dolor facere
                        quod, pariatur eius ex commodi, molestias itaque velit aliquid, tempora minima deserunt. Magni,
                        laboriosam reprehenderit? Aut, mollitia!</span>
                </div>
            </div>
            <div class="wrapper3">
                <div class="remote">
                    <img src="./../../../assets/icons/remote.png">
                    <p>REMOTE</p>
                    <br>
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore ut nulla dolor facere
                        quod, pariatur eius ex commodi, molestias itaque velit aliquid, tempora minima deserunt. Magni,
                        laboriosam reprehenderit? Aut, mollitia!</span>
                </div>
                <div class="line"></div>
            </div>
            <div class="seperator"><img src="./../../../assets/icons/separatorBlack 1.png"></div>
        </div>
    </div>
</div>