<div id="aboutMe" class="section3">
    <div class="aboutMe">
        <div class="aboutMe-info">
            <p>{{ 'ABOUT_ME.TITLE' | translate }}</p>
            <span>{{ 'ABOUT_ME.DESCRIPTION' | translate }}</span>
        </div>
        <div class="seperator"><img src="./../../../assets/icons/separatorBlack 1.png"></div>
        <div class="abilities">
            <div class="wrapper1">
                <div class="projects">
                    <img src="./../../../assets/icons/136378-200 1.png">
                    <p>{{ 'ABOUT_ME.PROJECTS.TITLE' | translate }}</p>
                    <br>
                    <span>{{ 'ABOUT_ME.PROJECTS.DESCRIPTION' | translate }}</span>
                </div>
                <div class="line"></div>
            </div>
            <div class="wrapper2">
                <div class="line"></div>
                <div class="development">
                    <img src="./../../../assets/icons/dev.png">
                    <p>{{ 'ABOUT_ME.DEVELOPMENT.TITLE' | translate }}</p>
                    <br>
                    <span>{{ 'ABOUT_ME.DEVELOPMENT.DESCRIPTION' | translate }}</span>
                </div>
            </div>
            <div class="wrapper3">
                <div class="remote">
                    <img src="./../../../assets/icons/remote.png">
                    <p>{{ 'ABOUT_ME.REMOTE.TITLE' | translate }}</p>
                    <br>
                    <span>{{ 'ABOUT_ME.REMOTE.DESCRIPTION' | translate }}</span>
                </div>
                <div class="line"></div>
            </div>
            <div class="seperator"><img src="./../../../assets/icons/separatorBlack 1.png"></div>
        </div>
    </div>
</div>
