@import "./../../styles.scss";

.section3 {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgb(215, 215, 215) 60%);
    width: 100%;
    max-width: 1440px;
    height: fit-content;
}

.aboutMe {
    @include flex-center;
    flex-direction: column;
    margin-top: 80px;
}

.aboutMe-info {
    @include flex-center;
    flex-direction: column;
    gap: 80px;
    max-width: 1120px;
    text-align: center;
    margin: 0 40px;

    >h1 {
        font-size: 40px;
    }
}

.abilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .wrapper1,
    .wrapper3 {
        display: flex;
        width: 100%;
        max-width: 1120px;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        padding: 30px;

        .line {
            position: absolute;
            left: 24px;
            bottom: 15px;
            width: 0;
            height: 2px;
            background-color: black;
            transition: width 0.8s ease;
        }
    }

    .wrapper2 {
        display: flex;
        width: 100%;
        max-width: 1120px;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        padding: 30px;

        .line {
            position: absolute;
            right: 24px;
            width: 0;
            bottom: 15px;
            height: 2px;
            background-color: black;
            transition: width 0.8s ease;
        }
    }

    .projects,
    .remote {
        max-width: 500px;
        z-index: 2;

        >h5 {
            font-size: 20px;
        }

        >img {
            position: absolute;
            z-index: 3;
            top: 8px;
            left: 0;
        }
    }

    .development {
        max-width: 500px;
        z-index: 2;

        >h5 {
            font-size: 20px;
        }

        >img {
            position: relative;
            z-index: 3;
            top: 50px;
            left: -40px;

        }
    }
}

@media (max-width:1249px) {

    .abilities{
        width: 80%;
    }
}

@media (max-width:1099px) {

    .aboutMe-info {
        gap: 60px;
        >h1 {
            padding-top: 40px;
        }
    }
}

@media (max-width:849px) {

    .abilities{
        width: unset;
    }

    .wrapper1, .wrapper3, .wrapper2 {
        justify-content: center !important;
        padding: unset !important;
    }

    .projects, .development, .remote {
        text-align: center;
        padding: 30px 20px;
        >img {
            position: unset !important;
        }
    }
    
    .line {
        left: unset !important;
        right: unset !important;
      
    }

    .projects {
        >img{
            left: 32px !important;
        }
    }

    .aboutMe-info {
        gap: 60px;
        >h1 {
            font-size: 32px !important;
        }
    }

    .aboutMe {
        margin-top: 60px;
    }
}

@media (max-width: 349px) {

    .aboutMe-info {
        >h1 {
            font-size: 24px !important;
        }
    }
}
