.section3 {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgb(215, 215, 215) 60%);
    width: 100%;
    max-width: 1440px;
    height: fit-content;
}


.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.aboutMe-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    max-width: 1120px;
    text-align: center;
    margin: 0 40px;

    >p {
        font-size: 40px;
        font-weight: bold;
        font-family: "Montserrat";
    }
    >span {
        font-family: "OpenSans";
    }
}

.abilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .wrapper1,
    .wrapper3 {
        display: flex;
        width: 100%;
        max-width: 1120px;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        padding: 30px;

        .line {
            position: absolute;
            left: 24px;
            bottom: 15px;
            width: 0;
            height: 2px;
            background-color: black;
            transition: width 0.8s ease;
        }
    }

    .wrapper2 {
        display: flex;
        width: 100%;
        max-width: 1120px;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        padding: 30px;

        .line {
            position: absolute;
            right: 24px;
            width: 0;
            bottom: 15px;
            height: 2px;
            background-color: black;
            transition: width 0.8s ease;
        }
    }

    .projects,
    .remote {
        max-width: 500px;
        z-index: 2;

        >p {
            font-size: 20px;
            font-weight: bold;
            font-family: "Montserrat";
        }

        >span {
            font-family: "OpenSans";
        }

        >img {
            position: absolute;
            z-index: 3;
            top: 8px;
            left: 0;
        }
    }

    .development {
        max-width: 500px;
        z-index: 2;

        >p {
            font-size: 20px;
            font-weight: bold;
            font-family: "Montserrat";
        }

        >span {
               font-family: "OpenSans";
        }

        >img {
            position: relative;
            z-index: 3;
            top: 50px;
            left: -40px;

        }
    }
}

@media (max-width:1249px) {

    .abilities{
        width: 80%;
    }
}

@media (max-width:849px) {

    .abilities{
        width: unset;
    }

    .wrapper1, .wrapper3, .wrapper2 {
        justify-content: center !important;
        padding: unset !important;
    }

    .projects, .development, .remote {
        text-align: center;
        padding: 30px 20px;
        >img {
            position: unset !important;
        }
    }
    
    .line {
        left: unset !important;
        right: unset !important;
      
    }

    .projects {
        >img{
            left: 32px !important;
        }
    }

    .aboutMe-info {
        >p {
            font-size: 32px !important;
        }
    }
}

@media (max-width: 349px) {

    .aboutMe-info {
        >p {
            font-size: 24px !important;
        }
    }
}
