<div class="section3">
    <div class="aboutMe">
        <div class="aboutMe-info">
            <p>A B O U T&nbsp; M E </p>
            <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea corporis dolore ipsam, numquam deserunt
                maiores sapiente. Rerum asperiores repudiandae ipsam quisquam! Excepturi beatae dolores, exercitationem
                a
                laudantium ipsa officiis nam!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea corporis
                dolore ipsam, numquam deserunt
                maiores sapiente. Rerum asperiores repudiandae ipsam quisquam! Excepturi beatae dolores, exercitationem
                a
                laudantium ipsa officiis nam!</span>
        </div>
        <div class="seperator"><img src="./../../../assets/icons/separatorBlack 1.png"></div>
        <div class="abilities">
            <div class="wrapper1">
                <div class="projects">
                    <p>PROJECTS</p>
                    <br>
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore ut nulla dolor facere
                        quod, pariatur eius ex commodi, molestias itaque velit aliquid, tempora minima deserunt. Magni,
                        laboriosam reprehenderit? Aut, mollitia!</span>
                </div>
                <div class="line"></div>
            </div>
            <div class="wrapper2">
                <div class="line"></div>
                <div class="development">
                    <p>DEVELOPMENT</p>
                    <br>
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore ut nulla dolor facere
                        quod, pariatur eius ex commodi, molestias itaque velit aliquid, tempora minima deserunt. Magni,
                        laboriosam reprehenderit? Aut, mollitia!</span>
                </div>
            </div>
            <div class="wrapper3">
                <div class="remote">
                    <p>REMOTE</p>
                    <br>
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore ut nulla dolor facere
                        quod, pariatur eius ex commodi, molestias itaque velit aliquid, tempora minima deserunt. Magni,
                        laboriosam reprehenderit? Aut, mollitia!</span>
                </div>
                <div class="line"></div>
            </div>
            <div class="seperator"><img src="./../../../assets/icons/separatorBlack 1.png"></div>
        </div>
    </div>
</div>