@mixin widthHeight () {
    width: 100%;
    height: 80vh;
}

.hero {
    display: flex;
    @include widthHeight();
    background: linear-gradient(-80deg, black 60%, rgb(215, 215, 215) 40%);
    max-width: 1440px;
    transition: color 0.8s ease;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 100%;
}

.welcome {
    position: relative;

    >img {
        height: 120px;
        width: auto;
        margin-left: -20px;
        margin-top: -40px;
        opacity: 0;
        transform: translateX(-50px);
        animation: fadeInFromLeft 1s ease-out forwards;
        animation-delay: 3.5s;
    }

    >p,
    >h2,
    >h3 {
        overflow: hidden;
        white-space: nowrap;
        width: 0;
        animation: typing 1.5s steps(30, end) forwards;
    }

    >p {
        font-weight: bold;
        font-size: 42px;
        animation-delay: 0s;
    }

    >h2 {
        font-size: 64px;
        animation-delay: 1.5s;
    }

    >h3 {
        color: rgb(144, 144, 144);
        animation-delay: 3s;
    }
}

.section2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    @include widthHeight();

    >img {
        width: auto;
        height: 700px;
    }
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 40px;
    width: 100%;

    >a {
        display: flex;
        align-items: center;
        padding: 5px;
        background-color: rgb(226, 225, 225);
        border-radius: 10px;

        &:hover {
            scale: 1.05;
        }
    }
}

.section-info {
    display: flex;
    height: fit-content;
    width: 100%;
    background-color: rgb(29, 29, 29);
    background-image: url(./../../../public/assets/img/Logo\ ITB.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    max-width: 1440px;
    color: white;
   
}

h4 {
    font-size: 28px;
    font-family: "Montserrat";
    font-weight: 300;
}

.info-description {
    font-family: "OpenSans";
    max-width: 1000px;
    padding: 32px;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}