<div id="hero" class="hero">
    <div class="section1">
        <div class="welcome">
            <h2>{{ 'HERO.HI' | translate }}</h2>
            <br>
            <h1>{{ 'HERO.NAME' | translate }}</h1>
            <br>
            <h3>{{ 'HERO.JOB_TITLE' | translate }}</h3>
            <img src="./../../../assets/img/signature_BLACK.png">
        </div>
        <div class="icons">
            <a href="#contactMe"> <img src="./../../../assets/icons/email.png"></a>
            <a href="https://github.com/Maik-Joe"><img src="./../../../assets/icons/github.png"></a>
            <a href="https://www.linkedin.com/in/maik-joe-sedlmaier-55a898342/"><img src="./../../../assets/icons/linkedin.png"></a>
        </div>
    </div>
    <div class="section2">
        <img src="./../../../assets/img/MaikPortfolio.png">
    </div>
</div>

<div class="section-info">
    <div class="info-description">
        <h4>{{ 'HERO.TAGLINE' | translate }}</h4>
        <br>
        <p>{{ 'HERO.DESCRIPTION' | translate }}</p>
    </div>
</div>
