.section4 {
    display: flex;
    justify-content: center;
    width: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgb(215, 215, 215) 40%);

    h3 {
        font-size: 24px;
        font-weight: bold;
    }

    .skills {
        width: 100%;
        max-width: 1120px;
    }

    .skills-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >h1 {
            font-size: 40px;
            font-weight: bold;
        }
    }

    .skills-now,
    .skills-learning {
        width: 70%;
        height: fit-content;
    }

    .skilltree-icons {
        width: fit-content;
        text-align: center;

        img {
            transition: transform 1s ease;
            transform-origin: center;

            &:hover {
                transform: scale(1.05) rotateY(360deg);
            }
        }
    }
}

.skills-now-container {
    margin-top: 80px;

    .skills-now-container-small {
        display: flex;
        gap: 32px;
        margin-top: 24px;
        flex-wrap: wrap;
    }
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: black;
    display: inline-block;
    transition: text-decoration 0.3s ease-in-out;
    animation: pulse 0.5s infinite alternate ease-in-out;

    &:hover {
        text-decoration: underline;
    }
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

.search-skills {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 80px;
    text-align: center;
}

@media (max-width:849px) {
 
    .skills-info{
        >h1 {
            font-size: 32px !important;
        }
    }

    .skills-now {
        h3 {
            font-size: 20px;
        }
        text-align: center;
    }

    .skills-now-container-small {
        justify-content: center;
    }

    .skilltree-icons{
        >img {
            width: 72px;
            height: 72px;
        }
    }

    .search-skills {
        font-size: 14px;
    }
}

@media (max-width: 349px) {

    .skills-info {
        >h1 {
            font-size: 24px !important;
        }
    }
}