<div id="skills" class="section4">
    <div class="skills">
        <div class="skills-info">
            <h1>{{ 'SKILLS.TITLE' | translate }}</h1>
            <div class="skills-now">
                <div class="skills-now-container">
                    <h3>{{ 'SKILLS.USING_NOW' | translate }}</h3>
                    <div class="skills-now-container-small">
                        @for(item of SkilltreeNow; track item.name) {
                        <div class="skilltree-icons">
                            <img src="./../../../assets/icons/{{item.img}}" alt="" srcset="">
                            <p>{{ item.name | translate }}</p>  
                        </div>
                        }
                    </div>
                </div>
                <div class="skills-now-container">
                    <h3>{{ 'SKILLS.LEARNING' | translate }}</h3>
                    <div class="skills-now-container-small">
                        @for(item of SkilltreeLearning; track item.name) {
                        <div class="skilltree-icons">
                            <img src="./../../../assets/icons/{{item.img}}" alt="" srcset="">
                            <p>{{ item.name | translate }}</p>  
                        </div>
                        }
                    </div>
                </div>
                <div class="search-skills">
                    <p>{{ 'SKILLS.SEARCH_SKILLS' | translate }}</p>
                    <a href="#contactMe">{{ 'SKILLS.CONTACT_ME' | translate }}</a>
                </div>
            </div>
            <div class="seperator"><img src="./../../../assets/icons/separatorBlack 1.png"></div>
        </div>
    </div>
</div>
