@font-face {
    font-family: 'Raleway';
    src: url('/assets/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Variabler Bereich des Fonts */
    font-style: normal;
  }

  @font-face {
    font-family: 'OpenSans';
    src: url('/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900; /* Variabler Bereich des Fonts */
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Variabler Bereich des Fonts */
    font-style: normal;
  }

*{ 
    margin: 0;
    font-family: 'Raleway';
}
