@import "./../../styles.scss";

.section7 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1120px;
    gap: 80px;

    .contact-headline {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 16px;
        margin: 0 40px;

        >h1{
            font-size: 40px;
        }
    }
}

.contact-form-container {
    @include flex-center;

    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        max-width: 600px;
        font-family: "OpenSans";
        margin-bottom: 60px;
    }

    input,
    textarea {
        font-size: 16px;
        border: none;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
        padding: 10px;
        background-color: rgb(215, 215, 215);
        outline: none;
    }

    input:focus {
        outline: none;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
    }

    .submit_btn {
        display: flex;
        justify-content: center;

        button {
            cursor: pointer;
            padding: 1cqh 30px;
            border: none;
            border: solid 3px black;
            background-color: rgb(215, 215, 215);
            font-family: "OpenSans";
            font-weight: bold;
            font-size: 16px;
            margin-top: 40px;
            transition: background 0.3s ease-in-out;

            &:hover {
                background-color: rgb(26, 26, 26);
                color: white;
            }

            &:disabled,
            &.disabled {
                background-color: #cccccc !important;
                color: #888888 !important;
                border-color: #aaaaaa !important;
                cursor: not-allowed !important;
                pointer-events: none !important;
            }
        }
    }

    .invalid {
        display: flex;
        align-items: center;
        height: 40px;
        width: 100%;

        span {
            color: rgb(204, 0, 0);
            font-size: 14px;
        }
    }

    .check-privacy {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        color: black;

        input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }

        label {
            display: inline-block;
            width: 16px;
            height: 16px;
            border: 2px solid black;
            border-radius: 3px;
            position: relative;
            cursor: pointer;
            flex-shrink: 0;
            transition: background 0.3s ease;
        }

        input[type="checkbox"]:checked+label::after {
            content: "✔";
            font-size: 48px;
            color: rgb(123, 64, 184);
            position: absolute;
            top: -38px;
            left: 80%;
            transform: translateX(-50%);
        }

        span {
            font-family: "OpenSans";
            font-weight: normal;
            line-height: 1.2;
        }

        a {
            text-decoration: none;
            font-weight: bold;
            color: rgb(123, 64, 184);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .success-message {
        height: 20px;
        margin-top: 20px;
        text-align: center;
        font-size: 16px;
        color: green;
        font-weight: bold;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

}

@media (max-width:849px) {

    .contact-headline {
        >h1 {
            font-size: 32px !important;
        }
    }

    input, textarea {
        font-size: 14px !important;
        padding: 5px !important;
    }

    form {
        width: 70% !important;
    }
}

@media (max-width: 349px) {

    .contact-headline{
        >h1 {
            font-size: 24px !important;
        }
    }
}