<header>
    <div class="header-content">
        <div class="icon">
            <img src="./../../../assets/icons/icononly_transparent_nobuffer.png">
        </div>
        <div class="header-links">
            <a href="#aboutMe">About me</a>
            <a href="#skills">Skills</a>
            <a href="#portfolio">Portfolio</a>
            <a href="">CONTACT ME</a>
            <div class="language">
            <img src="./../../../assets/icons/germany_11948652.png">
            <div></div>
            <img src="./../../../assets/icons/united-kingdom_551844.png">
        </div>
        </div>
    </div>

</header>