header {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    padding: 32px 0;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 20px;
    &:hover {
        background-color: rgb(255, 255, 255);
        color: black;
        transition: 0.2s ease-in-out;
    }
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1120px;
    margin: 0 10px;
}

.icon {
    > img {
        width: 80px;
        height: auto;
        transition: transform 0.5s ease;
        cursor: pointer;
        &:hover {
            transform: rotate(90deg); 
        }
    }
}

.header-links {
    display: flex;
    justify-content: space-evenly;
    max-width: 600px;
    width: 100%;
}

.language {
    display: flex;
    gap: 8px;
    margin-left: 40px;
    cursor: pointer;
    >div {
        height: 34px;
        width: 1px;
        background-color: white;
    }
    >img {
        width: 34px;
        height: auto;
        border-radius: 20px;
        &:hover {
            scale: 1.1;
            transition: 0.2s ease-in-out;
        }
    }
}




