<header>
    <div class="header-content">
        <div class="icon">
            <a href="#hero"><img src="./../../../assets/icons/icononly_transparent_nobuffer.png"></a>
        </div>
        <div class="header-links">
            <a href="#aboutMe">{{ 'HEADER.ABOUT_ME' | translate }}</a>
            <a href="#skills">{{ 'HEADER.SKILLS' | translate }}</a>
            <a href="#portfolio">{{ 'HEADER.PORTFOLIO' | translate }}</a>
            <a href="#contactMe">{{ 'HEADER.CONTACT_ME' | translate }}</a>
            
            <div class="language">
                <!-- Deutschland-Flagge -->
                <img src="./../../../assets/icons/germany_11948652.png" 
                     (click)="switchLanguage('de')" style="cursor: pointer;">
                <div></div>
                <!-- UK-Flagge -->
                <img src="./../../../assets/icons/united-kingdom_551844.png" 
                     (click)="switchLanguage('en')" style="cursor: pointer;">
            </div>
        </div>
    </div>
</header>
