@import "./../../styles.scss";

.legalnotice{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(215,215,215);
    height: fit-content;

    .legalnotice-wrapper {
        @include flex-center;
        max-width: 1440px;
        width: 100%;
        background: linear-gradient(-80deg, black 80%, rgb(215, 215, 215) 20%);
    }

    .legalnotice-content{
        @include flex-center;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        max-width: 500px;
        color: white;
        margin: 80px 0 ;
        padding-top: 80px;
        text-align: center;
    }
}

@media (max-width: 1099px) {
    
     .legalnotice-wrapper {
        background: unset !important;
        background-color: rgb(215, 215, 215)!important;
    }

    .legalnotice-content {
        color: black !important;
        padding: 0 40px;
    }
}
