<div class="legalnotice">
    <div class="legalnotice-wrapper">
        <div class="legalnotice-content">
            <h1>{{ 'IMPRINT.TITLE' | translate }}</h1>

            <h2>{{ 'IMPRINT.INFO' | translate }}</h2>
            <p>Maik Joe Sedlmaier<br>
                Am Eckfeld 4a<br>
                83543 Rott am Inn</p>

            <h2>{{ 'IMPRINT.CONTACT' | translate }}</h2>
            <p>{{ 'IMPRINT.PHONE' | translate }}: 01523 1762449<br>
                {{ 'IMPRINT.EMAIL' | translate }}: 
                <a href="mailto:maik-joe&#64;gmx.de">maik-joe&#64;gmx.de</a>
            </p>

            <h2>{{ 'IMPRINT.RESPONSIBLE' | translate }}</h2>
            <p>Maik Joe Sedlmaier<br>
                Am Eckfeld 4a<br>
                83543 Rott am Inn</p>

            <h2>{{ 'IMPRINT.LIABILITY' | translate }}</h2>
            <p>{{ 'IMPRINT.LIABILITY_TEXT' | translate }}</p>

            <h2>{{ 'IMPRINT.COPYRIGHT' | translate }}</h2>
            <p>{{ 'IMPRINT.COPYRIGHT_TEXT' | translate }}</p>

            <hr>

            <h1>{{ 'PRIVACY.TITLE' | translate }}</h1>

            <h2>{{ 'PRIVACY.GENERAL' | translate }}</h2>
            <p>{{ 'PRIVACY.GENERAL_TEXT' | translate }}</p>

            <h2>{{ 'PRIVACY.DATA_CONTROLLER' | translate }}</h2>
            <p>Maik Joe Sedlmaier<br>
                Am Eckfeld 4a<br>
                83543 Rott am Inn<br>
                <a href="mailto:maik-joe&#64;gmx.de">maik-joe&#64;gmx.de</a>
            </p>

            <h2>{{ 'PRIVACY.DATA_COLLECTION' | translate }}</h2>

            <h3>{{ 'PRIVACY.DATA_COLLECTION_WEBSITE' | translate }}</h3>
            <p>{{ 'PRIVACY.DATA_COLLECTION_WEBSITE_TEXT' | translate }}</p>
            <ul>
                <li>{{ 'PRIVACY.IP' | translate }}</li>
                <li>{{ 'PRIVACY.DATE_TIME' | translate }}</li>
                <li>{{ 'PRIVACY.REQUESTED_FILE' | translate }}</li>
                <li>{{ 'PRIVACY.REFERRER' | translate }}</li>
                <li>{{ 'PRIVACY.BROWSER' | translate }}</li>
            </ul>
            <p>{{ 'PRIVACY.LEGAL_BASIS' | translate }}</p>

            <h3>{{ 'PRIVACY.DATA_COLLECTION_FORM' | translate }}</h3>
            <p>{{ 'PRIVACY.DATA_COLLECTION_FORM_TEXT' | translate }}</p>
            <ul>
                <li>{{ 'PRIVACY.NAME' | translate }}</li>
                <li>{{ 'PRIVACY.EMAIL' | translate }}</li>
                <li>{{ 'PRIVACY.PHONE' | translate }}</li>
                <li>{{ 'PRIVACY.MESSAGE' | translate }}</li>
            </ul>
            <p>{{ 'PRIVACY.LEGAL_BASIS_FORM' | translate }}</p>

            <h3>{{ 'PRIVACY.COOKIES' | translate }}</h3>
            <p>{{ 'PRIVACY.COOKIES_TEXT' | translate }}</p>

            <h2>{{ 'PRIVACY.DATA_TRANSFER' | translate }}</h2>
            <p>{{ 'PRIVACY.DATA_TRANSFER_TEXT' | translate }}</p>

            <h2>{{ 'PRIVACY.RIGHTS' | translate }}</h2>
            <p>{{ 'PRIVACY.RIGHTS_TEXT' | translate }}</p>
            <ul>
                <li>{{ 'PRIVACY.RIGHT_ACCESS' | translate }}</li>
                <li>{{ 'PRIVACY.RIGHT_CORRECTION' | translate }}</li>
                <li>{{ 'PRIVACY.RIGHT_DELETION' | translate }}</li>
                <li>{{ 'PRIVACY.RIGHT_RESTRICTION' | translate }}</li>
                <li>{{ 'PRIVACY.RIGHT_TRANSFER' | translate }}</li>
                <li>{{ 'PRIVACY.RIGHT_COMPLAINT' | translate }}</li>
            </ul>

            <h2>{{ 'PRIVACY.OBJECTION' | translate }}</h2>
            <p>{{ 'PRIVACY.OBJECTION_TEXT' | translate }}</p>

            <h2>{{ 'PRIVACY.SECURITY' | translate }}</h2>
            <p>{{ 'PRIVACY.SECURITY_TEXT' | translate }}</p>

            <h2>{{ 'PRIVACY.UPDATES' | translate }}</h2>
            <p>{{ 'PRIVACY.UPDATES_TEXT' | translate }}</p>
        </div>
    </div>
</div>
