<footer>
    <div class="footer-content">
        <div class="footer-content-inline">
            <div class="footer-links">
               <a href="#hero"><img src="./../../../assets/icons/icononly_transparent_nobuffer.png"></a> 
            </div>
            <div class="reserved">
                <p>©Design by Thomas Gajda</p>
                <p>©2024 Maik Joe Sedlmaier</p>
            </div>
            <div class="footer-legals">
                <a href="">Legal notice</a>
            </div>
        </div>
    </div>
</footer>